<div class="homepage-container">
  <header>
    <h1>Ngcypressdemo</h1>
    <p>
      Welcome to the
      <a class="custom-link" href="https://docs.cypress.io/guides/overview/why-cypress">Cypress</a>
      Testing Demo Project by
      <a class="custom-link" href="mailto:rubensgiuseppegarofalo@gmail.com">Rubens Garofalo</a>!
    </p>
  </header>

  <section class="features">
    <div class="feature">
      <h2>🌐 Web Automation</h2>
      <p>Experience the power of end-to-end testing with Cypress and Angular.</p>
    </div>

    <div class="feature">
      <h2>🚀 Fast Execution</h2>
      <p>Run your tests in real-time as you develop. Speed up your development process.</p>
    </div>

    <div class="feature">
      <h2>🔧 Easy Debugging</h2>
      <p>With Cypress's time-travel feature, debugging has never been easier.</p>
    </div>
  </section>

  <footer>
    <p>© 2023 Ngcypressdemo. All rights reserved.</p>
  </footer>
</div>
